@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /* cores */
    --tt-heading: #0c3440;
    --tt-label: #00453a;
    --tt-input: #212529;
    --ot-input: #02799d;
    --bd-input: rgba(73, 80, 87, 0.3);
    --tt-placeholder: rgba(73, 80, 87, 0.5);
    --tt-button: white;
    --bg-button: #02799d;
    --bg-error: #f03e3e;
    --tt-error: white;
    --bg-input: #dce2e9;
    --bg-button-hover:#01475c;
}

body {
    background-color: #040924;
    font-family: 'Roboto', sans-serif;
}
body,input,button{
    font-size: 1.6rem;
    line-height: 2rem;
}

.container {
    display: grid;
    height: 100vh;
    place-content: center;
    padding: 1.6rem;
}

.card {
    padding: 4.8rem 6.4rem 6.4rem;
    background-color: white;
    max-width: 42.8rem;
    margin-inline: auto;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}

.title {
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--tt-heading);
}
form{
    width: 30rem;
}

form label {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--tt-label);
    margin-bottom: .8rem;
    display: block;
}

form h1 {
    margin-bottom: 3.2rem;
}

form input {
    width: 100%;
    border: 1px solid var(--bd-input);
    background-color: var(--bg-input);
    padding: 1.6rem;
    border-radius: .4rem;

}
form input:hover{
    outline: 2px solid var(--ot-input);
}
form input::placeholder{
    color: var(--tt-placeholder);
}
.input-wrapper + .input-wrapper {
    margin-top: 1.6rem;
}

button{
    margin-top: 3.2rem;
    padding: 1.6rem;
    width: 100%;
    border: none;
    background-color: var(--bg-button);
    color: var(--tt-button);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    font-weight: bold;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .3s;
}
button:hover{
    background-color: var(--bg-button-hover)
}

@media (max-width: 400px){
    .card{
        padding: 4.8rem 2.4rem 6.4rem;
    }

}
@media (max-width:470px){
    .container{
        padding: 0;
    }
    
}